:host {
    .folder-input-wrap {
        width: 271px;
        display: flex;
        align-items: center;
        align-content: center;
        padding: 7px;
        border: 1px solid black;
        margin-top: 15px;
    }
}