<div class="folder-group">
    <div class="tree-branch-wrap">
        <div class="tree-branch">
            <div class="tree-branch-inner"></div>
        </div>
        <div class="folder-view-wrap">
            <div class="folder-name">
                <img class="icon" alt="folder" src="/assets/folder-open-regular.svg" />
                {{ folder.name }}
            </div>
            <div class="hover-buttons">
                <button class="black-button small" (click)="showInputSelector = true"><img alt="Cancel" src="/assets/add.svg" /></button>
                <button class="white-button small" (click)="delete()"><img alt="Cancel" src="/assets/cross.svg" /></button>
            </div>
        </div>
    </div>
    <app-tree *ngIf="folder.children.length > 0" [nodes]="folder.children"></app-tree>
    <app-input-selector *ngIf="showInputSelector" [parent]="folder" (close)="showInputSelector = false"></app-input-selector>
</div>
