:host {
    .input-selector-wrap {
        padding-left: 10px;
        border-left: 1px solid grey;
        margin-left: 27px;
        .type-option {
            padding-top: 10px;
        }
        button {
            width: 66px;
            height: 27px;
            margin-right: 7px;
        }
    }
}