:host {
    .input-selector-wrap {
        .type-option {
            margin-top: 10px;
        }
        button {
            width: 66px;
            height: 27px;
            margin-right: 7px;
        }
    }
}