:host {
    .app-wrap {
        padding: 20px;
        .nodes-as-json {
            padding: 20px;
            background-color: #ececec;
            border-radius: 10px;
            margin-top: 25px;
        }
        .root-button {
            padding: 10px;
            margin-bottom: 15px;
        }
    }
}