:host {
    .app-wrap {
        padding: 20px;
        .nodes-as-json {
            padding: 20px;
            background-color: #ececec;
            border-radius: 10px;
            margin-top: 25px;
        }
        .root-button {
            padding: 10px;
            margin-bottom: 15px;
        }
        :ng-deep {
            > .tree {
                padding-left: 0px;
                border-left: 0px solid grey;
                margin-left: 0px;
            }
        }
    }
}